
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 body{
    font-family: 'Source Sans Pro', sans-serif;
 
 }
 .body_con_grid {
    width: 95%;
    max-width: 1200px;
    margin: auto;
  }
  